<div class="nav-a">
    <div class="logo">
        <img src="<%- icon %> " alt="Logo Image">
    </div>
    <div class="line">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <% pages.forEach(page => { %>
        <li><a href="<%- page %>"><%- page %></a></li>    
        <% }) %>
        <li><a href="<%- support %>" ><button class="join-button" >Support</button></li></a>
    </ul>
</div>