<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%- title %></title>
  <link rel="icon" href="<%- icon %>">
  <link rel="stylesheet" href="./css/404.css">
</head>

<body>

  <div class="main-404">
    <div class="main-404-title">404 - Page Not Found</div>
    <div class="main-404-desc">
      <p>The page you are looking for may be in another route</p>
      <p>Available addresses are : </p>
    </div>
    <ul class="main-404-redirect">
      <% pages.forEach(page => { %>
      <li><a href="<%- page %>"><%- page %></a></li>
      <% }) %>
    </ul>
  </div>

</body>

</html>