<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="icon" href="<%- icon %>" />
    <link rel="stylesheet" href="./css/index.css" >
    <link rel="stylesheet" href="./css/responsive/index.css" >
    <script src="https://kit.fontawesome.com/31fd7c4de0.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('includes/navbar.ejs'); -%>


    <div class="intro">
        <img src="<%- icon %>" style="border-radius: 50%;width: 250px; height: 250px;" />
        <h1>SoSiS</h1>
        <h4>A team of developers in Discord space created in 2020 to help and make it easy for users in the environment of Discord application.</h4>
        <a href="#sosis"><button class="join-button" style="margin-top: 20px;">Get Start <i class="fa-solid fa-arrow-down"></i></button></a>
    </div>


</body>
<script src="./js/nav.js"></script>
</html>





